/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

nav, header {
    background-color: #540B51;
}

main {
       background-color: #F3EAE2;    
        
}
header div h1{
    color: #F3EAE2;
    font-size: 7rem;


}
header div p{
    font-size: 2rem;
    color: #F3EAE2;
    justify-items: center;
}

#singUp-buttons button{
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    align-items: center;
    justify-items: center;
    justify-content: center;

}

.google-button {
    background-color: #2E71A6;
}
.div-img-main {
    display: flex;
    max-width: 100%;
}
.div-img-main img{
        
    width: 100%;
}

.header-main p {
    font-size: 3rem;
}

.top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:  0 auto;
    gap: 15px;
}
   

@media (max-width:  768px) {
    html {
        width: 55vh;
        height: 100vh;
    }
    


    header div {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        flex-direction: column;

    }

    }
    .nav-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        
        
        
    }



    .team-section {
        display: flex;
        flex-direction: column;
        
    }

    .subfooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    
    }


    

        

